<div class="bg-customBlue text-white">
  <div class="p-[100px] px-[150px] h-screen">
    <div class="grid grid-cols-2 gap-40">
      <div class="grid grid-rows gap-4">
        <h1 class="r">HOTOU NJIOWOUO MORELLE OLIVIA</h1>
        <h2 class="text-2xl">Frontend Developer</h2>
        <h5 class="text-1xl w-80 break-words font-light">Experienced Software Developer with a track record of building quality applications. Proficient in Angular.</h5>
        <ul class="list-[square] list-inside space-y-2 font-light cursor-pointer pt-10">

          <a [routerLink]="'ui/about'"
             routerLinkActive="font-bold"
             class="active:font-bold hover:font-bold"
          >
            <li>About</li>
          </a>
          <a [routerLink]="'ui/experience'"
             routerLinkActive="font-bold"
             class="active:font-bold hover:font-bold"
          >
            <li>Experience</li>
          </a>
          <li>Projects</li>
          <li>Skills</li>
        </ul>
      </div>
      <div class="text-1xl font-light ">
        <router-outlet />
<!--<router-outlet></router-outlet>-->
<!--        <p>-->
<!--          I am an experienced Software Developer with a proven track record in building high-quality applications.-->
<!--          I am skilled, a fast learner, and proficient in Agile methodologies. I take pride in being among the top women-->
<!--          in tech who are actively contributing to meaningful innovations and solutions to today’s challenges.-->
<!--          I am also a fast learner who thrives in collaborative environments with leading women in tech.-->
<!--        </p>-->
<!--        <p class="py-4">-->
<!--          My journey in software development has been fulfilling, marked by significant growth towards my goals.-->
<!--          I have had the privilege of creating software for a school management system and working with a start-up.-->
<!--          Currently, my focus is on developing accessible user interfaces.-->
<!--        </p>-->

<!--        <p >-->
<!--          Outside of work, I enjoy adventures, reading, and fostering connections with other tech women who share my passion.-->
<!--        </p>-->


      </div>
    </div>
  </div>
</div>
