<div>
  <p>
    I am an experienced Software Developer with a proven track record in building high-quality applications.
    I am skilled, a fast learner, and proficient in Agile methodologies. I take pride in being among the top women
    in tech who are actively contributing to meaningful innovations and solutions to today’s challenges.
    I am also a fast learner who thrives in collaborative environments with leading women in tech.
  </p>
  <p class="py-4">
    My journey in software development has been fulfilling, marked by significant growth towards my goals.
    I have had the privilege of creating software for a school management system and working with a start-up.
    Currently, my focus is on developing accessible user interfaces.
  </p>
  <p >
    Outside of work, I enjoy adventures, reading, and fostering connections with other tech women who share my passion.
  </p>
</div>
