<section>
  <div class="flex xsm:flex-wrap lg:flex-nowrap pb-12">
    <div class="text-1xl">
      <header class="text-xs mt-2 w-32 z-10 mb-2 font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2">
        <div class="flex">
          2024
          <div class="h-0.5 mt-1.5 mx-1 bg-gray-500 w-3"></div>
          {{"Experience.present" | translate }}
        </div>
      </header>
      <!--    <span class="h-0.5 mt-3 bg-gray-500 w-80"></span>-->
    </div>
    <div class="z-10 sm:col-span-6">
      <h1 class="font-medium leading-snug text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base mt-1 items-baseline leading-tight">
        <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 block"></span>
        {{"HOME.frontend_developer" | translate }}, Go-Groups
      </h1>
      <h1 class="mt-2 text-sm leading-normal">{{"Experience.experience_desc1" | translate }}
      </h1>
      <div class="flex flex-wrap w-96 pt-4">
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            Angular
          </button>
        </div>
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            TypeScript
          </button>
        </div><div>
        <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
          HTML & CSS
        </button>
      </div>
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            Bootstrap
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="flex pb-12">
    <div class="text-1xl">
      <header class="text-xs mt-2 w-32 z-10 mb-2 font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2">
        <div class="flex">
          11/2021
          <div class="h-0.5 mt-1.5 mx-1 bg-gray-500 w-3"></div>
          02/2022
        </div>
      </header>
      <!--    <span class="h-0.5 mt-3 bg-gray-500 w-80"></span>-->
    </div>
    <div class="z-10 sm:col-span-6">
      <h1 class="font-medium leading-snug text-slate-200 hover:text-teal-300 focus-visible:text-teal-300  group/link text-base mt-1 items-baseline leading-tight">
        <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 block"></span>
        {{"Experience.intern_frontend_developer" | translate }}, Go-Groups
      </h1>
      <h1 class="mt-2 text-sm leading-normal">{{"Experience.experience_desc2" | translate }}
      </h1>
      <div class="flex flex-wrap w-96 pt-4">
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            Angular
          </button>
        </div>
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            TypeScript
          </button>
        </div><div>
        <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
          HTML & CSS
        </button>
      </div>
        <div>
          <button class="px-3 py-1 mr-1.5 bg-teal-400/10 text-teal-300 text-xs font-medium leading-5 rounded-full">
            Bootstrap
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="flex">
    <div>
      <p>07/2021 - 10/2021</p>
    </div>
  </div>

</section>
