<div class="flex">
  <div>
    <p>2024 - PRESENT</p>
  </div>
  <div>
    <h1 class="text-3xl w-88 break-words font-bold">Frontend Developer, Go-Groups</h1>
    <h1 class="text-1xl break-words font-light">Contributed to the development and maintenance of a comprehensive school management
      system, featuring modules for fee payments, course registration, result viewing, transcript management,
      and additional functionalities.
    </h1>
    <div class="flex">
      <div>
        <button class="border border-blue-500 text-blue-500 font-bold py-2 px-4 rounded cursor-not-allowed hover:bg-blue-500 hover:text-white">
          Angular
        </button>
      </div>
      <div>
        <button class="border border-blue-500 text-blue-500 font-bold py-2 px-4 rounded cursor-not-allowed hover:bg-blue-500 hover:text-white">
          TypeScript
        </button>
      </div><div>
        <button class="border border-blue-500 text-blue-500 font-bold py-2 px-4 rounded cursor-not-allowed hover:bg-blue-500 hover:text-white">
          HTML & CSS
        </button>
      </div>
      <div>
        <button class="border border-blue-500 text-blue-500 font-bold py-2 px-4 rounded cursor-not-allowed hover:bg-blue-500 hover:text-white">
          Bootstrap
        </button>
      </div>

    </div>
  </div>
</div>
<div class="flex">
  <div>
    <p>11/2021 - 02/2022</p>
  </div>
  <div>
    <h1 class="text-3xl w-88 break-words font-bold">Intern Frontend Developer, Go-Groups</h1>
    <h1 class="text-1xl break-words font-light">Contributed to the development and maintenance of a company library to
    </h1>
  </div>
</div>
<div class="flex">
  <div>
    <p>07/2021 - 10/2021</p>
  </div>
</div>
