<div class="flex">
  <div class="text-1xl">
    <p class="text-xs text-slate-400 mt-2 w-40">2024 <span class="h-0.5 mt-3 bg-gray-500 w-2vw"></span> PRESENT</p>
<!--    <span class="h-0.5 mt-3 bg-gray-500 w-80"></span>-->
  </div>
  <div>
    <h1 class="text-xl w-88 text-white break-words font-bold">Frontend Developer, Go-Groups</h1>
    <h1 class="text-1xl break-words font-light">Contributed to the development and maintenance of a comprehensive school management
      system, featuring modules for fee payments, course registration, result viewing, transcript management,
      and additional functionalities.
    </h1>
    <div class="flex pt-4">
      <div>
        <button class="px-4 py-2 mr-2 bg-teal-400/20 text-teal-300 text-xs font-medium leading-5 rounded-full">
          Angular
        </button>
      </div>
      <div>
        <button class="px-4 py-2 mr-2 bg-teal-400/20 text-teal-300 text-xs font-medium leading-5 rounded-full">
          TypeScript
        </button>
      </div><div>
        <button class="px-4 py-2 mr-2 bg-teal-400/20 text-teal-300 text-xs font-medium leading-5 rounded-full">
          HTML & CSS
        </button>
      </div>
      <div>
        <button class="px-4 py-2 mr-2 bg-teal-400/20 text-teal-300 text-xs font-medium leading-5 rounded-full">
          Bootstrap
        </button>
      </div>

    </div>
  </div>
</div>
<div class="flex">
  <div>
    <p class="text-xs text-slate-400 mt-2 w-40">11/2021 - 02/2022</p>
  </div>
  <div>
    <h1 class="text-xl w-88 text-white break-words font-bold">Intern Frontend Developer, Go-Groups</h1>
    <h1 class="text-1xl break-words font-light">Contributed to the development and maintenance of a company library to
    </h1>
  </div>
</div>
<div class="flex">
  <div>
    <p>07/2021 - 10/2021</p>
  </div>
</div>
